target

certs/bank*/*/slot*/alias.*
certs/bank*/alias/slot*/bundle*
certs/bank*/alias/slot*/end_*
certs/bank*/alias/slot*/immutable.der

certs/bank*/slot0/inter.*
certs/bank*/slot0/param.pem

manifest.cbor
manifest/*responder_manifest.cbor
manifest/*.pretty

retrieved_slot_id*
pem_file
