target

certs/*/slot*/alias.*
certs/alias/slot*/bundle*
certs/alias/slot*/end_*
certs/alias/slot*/immutable.der

certs/slot0/inter.*
certs/slot0/param.pem

manifest.cbor
manifest/manifest.out.cbor
manifest/*responder_manifest.cbor
manifest/*.pretty

retrieved_slot_id*
pem_file
