target
certs/alias.*
certs/end_*
certs/bundle*

certs/slot*/alias.*
certs/slot*/end_*
certs/slot*/bundle*
certs/slot*/immutable.sha
manifest.cbor
manifest/manifest.out.cbor
manifest/responder_manifest.cbor
manifest/*.pretty

