[ leaf ]
basicConstraints = critical,CA:false
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectKeyIdentifier = hash
subjectAltName = otherName:2.23.147;UTF8:Vendor=1b36:Device=0010:CC=010802:REV=02:SSVID=1af4:SSID=1100
# Add SPDM Responder Authentication { id-DMTF-spdm 3 }, SPDM Requester Authentication { id-DMTF-spdm 4 }, tcg-dice-kp-eca, tcg-dice-kp-identityLoc, tcg-dice-kp-attestLoc, tcg-dice-kp-assertLoc
extendedKeyUsage = critical, serverAuth, clientAuth, OCSPSigning, 1.3.6.1.4.1.412.274.3, 1.3.6.1.4.1.412.274.4, 2.23.133.5.4.100.12, 2.23.133.5.4.100.7, 2.23.133.5.4.100.9, 2.23.133.5.4.100.11

1.3.6.1.4.1.412.274.6 = ASN1:SEQUENCE:leaf_spdm_cert_oids # id-spdm-cert-oids

[ leaf_spdm_cert_oids ]
id-spdm-cert-oid = SEQUENCE:leaf_spdm_cert_mutabl_oid

[ leaf_spdm_cert_mutabl_oid ]
id-DMTF-hardware-identity = OID:1.3.6.1.4.1.412.274.2
