name: SPDM-Utils-ci

on:
  push:
  pull_request:

jobs:
  ci-check:
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy
          targets: thumbv7em-none-eabi

      - name: Install dependencies
        run: |
          sudo apt-get update; \
          sudo apt-get install -y cmake libclang-dev libpci-dev libssl-dev python3-dev gem libnvme-dev; \
          sudo gem install cbor-diag;

      - name: Build libspdm
        run: |
          pushd third-party/libspdm; \
          mkdir build; cd build; \
          cmake \
            -DARCH=x64 \
            -DTOOLCHAIN=GCC \
            -DTARGET=Debug \
            -DCRYPTO=openssl \
            -DENABLE_BINARY_BUILD=1 \
            -DCOMPILED_LIBCRYPTO_PATH=/usr/lib/ \
            -DCOMPILED_LIBSSL_PATH=/usr/lib/ \
            -DDISABLE_TESTS=1 \
            -DCMAKE_C_FLAGS=" \
                  -DLIBSPDM_ENABLE_CAPABILITY_EVENT_CAP=0 \
                  -DLIBSPDM_ENABLE_CAPABILITY_MEL_CAP=0 \
                  -DLIBSPDM_HAL_PASS_SPDM_CONTEXT=1 \
                  -DLIBSPDM_ENABLE_CAPABILITY_GET_KEY_PAIR_INFO_CAP=0 \
                  -DLIBSPDM_ENABLE_CAPABILITY_SET_KEY_PAIR_INFO_CAP=0 \
                  -DLIBSPDM_ENABLE_CAPABILITY_ENDPOINT_INFO_CAP=0 \
                  " \
            .. ; \
          make -j8; \
          popd;

      - name: Format
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check

      - name: Build
        uses: actions-rs/cargo@v1
        with:
          command: build

      - name: Test
        run: |
          cargo test; \
          ./target/debug/spdm_utils --socket-server response & \
          sleep 1; \
          ./target/debug/spdm_utils --socket-client tests;

      - name: Clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
